@model ApiProjeKampi.WebUI.Dtos.TestimonialDto.GetTestimonialByIdDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Kategor Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="TestimonialId">
                            <labe>Müşteri Adi Soyadı</labe>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br>
                            <labe>Müşteri Ünvan</labe>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br>
                            <labe>Müşteri Yorum</labe>
                            <input type="text" asp-for="Comment" class="form-control" />
                            <br>
                            <labe>Müşteri Görsel Url</labe>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br>
                            <button class="btn-primary">Yorum Oluştur Oluştur</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

