@model ApiProjeKampi.WebUI.Dtos.ProductDto.GetProductByIdDto

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ürün Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="ProductId" />
                            <input type="hidden" asp-for="ProductDescription" />
                            <labe>Ürün Adi</labe>
                            <input type="text" asp-for="ProductName" class="form-control" />
                            <br>
                            <label>Ürün Kategorisi</label>
                            <select type="text" asp-for="CategoryId" asp-items="(IEnumerable<SelectListItem>)ViewBag.v" class="form-control">
                                <option value="">-Kategori seçiniz</option>
                            </select>
                            <labe>Ürün Resimi</labe>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br>
                            <labe>Ürün Fiyati</labe>
                            <input type="text" asp-for="Price" class="form-control" />
                            <br>
                            <button class="btn-succes">Kategoriyi Düzenle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




